<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dreamer memo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{!-- '>' partials 下找檔案 --}}
    {{> header/navbar}}
    <section class="main">
        {{{body}}}
    </section>
    {{!-- {{> footer/footer}} --}}
    <script>
    const baseUrl = '{{baseUrl}}';
    </script>
    <script src="/js/script.js"></script>
</body>
</html>