<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h2 class="title is-3 has-text-centered CRUD-title">新增夢境</h2>
    <form action="{{baseUrl}}/add" class="box" method="POST">
        <div class="field">
            <label class="label is-size-5 CRUD-subtitle" for="people">人物</label>
            <div class="control">
                <input type="text" id="people" name="people" class="input is-size-5">
            </div>
            <label class="label is-size-5 CRUD-subtitle" for="place">地點</label>
            <div class="control">
                <input type="text" id="place" name="place" class="input is-size-5">
            </div>
        </div>
        <div class="field">
            <label class="label is-size-5 CRUD-subtitle" for="description">內容</label>
            <textarea name="description" id="description" class="textarea is-focus is-size-5"></textarea>
        </div>
        <div class="btn-row right-side">
            <div class="submit">
                <button type="submit" id="submitBtn" class="button is-responsive">送出</button>
            </div>
        </div>
    </form>
</div>