<section class="main">    
    {{!-- * deleting dream --}}
    <h2>---刪除夢境---</h2>
    <div class="input">
        <form id="delete">
            <div class="selectInput">
                <!-- * choosing delete type using select dropbox -->
                <label for="deleteType"><h3>刪除方式:</h3></label>
                <select id="deleteType">
                    <option value="people">人物</option>
                    <option value="date">date</option>
                </select>

                {{!-- * dynamic showing input box --}}
                <div class="textInput" id="deletePeopleBox" style="display: block;">
                    <label for="deletePeople"><h3>人物:</h3></label>
                    <input type="text" id="deletePeopleInput" name="people" placeholder="刪除關於人物的夢...">
                </div>
                <div class="textInput" id="deleteDateBox" style="display: none;">
                    <label for="deleteDate"><h3>日期:</h3></label>
                    <input type="text" id="deleteDateInput" name="date" placeholder="刪除日期的夢...">
                </div>
                
                <div class="submit">
                    <button type="button" onclick="deleteDream()">刪除</button>
                </div>
            </div>
        </form>
    </div>
</section>