<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    {{!-- * editing dream --}}
    <h2 class="title is-3 has-text-centered CRUD-title">編輯夢境</h2>
    <form id="edit" action="{{baseUrl}}/edit/result" method="GET">
        <div class="field">
            <label for="date" class="label is-size-5 CRUD-subtitle">日期:</label>
            <input type="text" id="date" name="date" class="input is-size-5" placeholder="Search...">
        </div>
        <div class="btn-row right-side">
            <div class="submit">
                <button type="submit" id="submitBtn" class="button is-responsive">編輯</button>
            </div>
        </div>
    </form>
</div>