<section class="main">
    {{!-- * editing dream --}}
    <h2>---編輯夢境---</h2>
    <div class="input">
        <form id="edit" action="{{baseUrl}}/edit/result" method="GET">
            <div class="textInput">
                <label for="date"><h3>日期:</h3></label>
                <input type="text" id="date" name="date" placeholder="Search...">
            </div>
            <div class="submit">
                <button type="submit" id="submitBtn">編輯</button>
            </div>
        </form>
    </div>
</section>