<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <a class="button is-link is-rounded" onclick="window.history.back();">
        <img src="{{baseUrl}}/image/left-arrow-alt-svgrepo-com.svg" alt="Go back">
        返回</a>
    <h2 class="title is-3 has-text-centered error-title">{{this.status}} - {{this.message}}</h2>
</div>