<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h2 class="title is-3 has-text-centered CRUD-title">登入</h2>

    <div class="register">
        <p class="title is-5">還沒有帳號?</p>
        <a href="{{baseUrl}}/register" class="button is-responsive">註冊</a>
    </div>
    <form action="{{baseUrl}}/login" class="box" method="POST">
        <div class="field">
            <label for="username" class="label is-size-5">名稱</label>
            <input type="text" id="username" name="username" class="input is-size-5">
            <label for="password" class="label is-size-5">密碼</label>
            <input type="password" id="password" name="password" class="input is-size-5">
        </div>
        <div class="btn-row right-side">
            <div class="submit">
                <button type="submit" id="login" class="button is-responsive">登入</button>
            </div>
        </div>
    </form>
</div>
