<div class="container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <h2 class="title is-3 has-text-centered CRUD-title">註冊</h2>
    <form action="{{baseUrl}}/register" method="POST">
        <div class="field">
            <label for="username" class="label is-size-5">名稱</label>
            <input type="text" id="username" name="username" class="input is-size-5">
            <label for="password" class="label is-size-5">密碼</label>
            <input type="password" id="password" name="password" class="input is-size-5">
        </div>
        <div class="btn-row right-side">
            <div class="submit">
                <button type="submit" id="register" class="button is-responsive">註冊</button>
            </div>
        </div>
    </form>
</div>