.container{
    padding-top: 24px;
}

.navbar{
    border-bottom: none;
    box-shadow: none;
    background-color: #e295c1;
}



.navbar-start, .navbar-end{
    padding: 0 10%;
}

.navbar-menu{
    background-color: rgba(226, 149, 193, 0.5);
}

.navbar-burger{
    color: #1D6A3E;
}
.navbar-burger:hover{
    color: #1D6A3E;
}

.navbar-item{
    color: #fff;
    font-weight: 600;
    transition: all 0.25s ease;
}

.navbar .navbar-item:hover{
    color: #1D6A3E;
}

.navbar .button:hover{
    color: #1D6A3E;
    background-color: #fff;
}

.navbar-icon{
    margin: 0 -50px 0 50px;
}
@media (max-width: 1023px) {
    .navbar-icon{
        margin: 0 30px 0 30px
    }
}

@media (max-width: 768px) {
    .navbar-icon{
        margin: 0 10px 0 10px
    }
}

.CRUD-title{
    color: #1D6A3E;
    /* background-color: #1D6A3E; */
    border: solid 3px #1D6A3E;
    border-radius: 5px;
    padding: 7px;
}

.CRUD-subtitle{
    color: #1D6A3E;
    border-bottom: solid 3px #1D6A3E;
    display: inline-block;
    padding: 0 4px;
}

.error-title{
    color: red;
    font-weight: 700;
}
.good-title{
    color: #4CAF50;
}

label{
    margin: 10px 0;
}

.select-delete-type {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
}

.select select{
    color: red;
    margin: 0 auto;
}
select option{
    color: red ;
}

thead th abbr{
    color: #1D6A3E;
}
.table td {
    max-width: 200px; /* Adjust the max width as needed */
    word-wrap: break-word; /* Allows long words to break and wrap to the next line */
    overflow-wrap: break-word; /* Similar to word-wrap */
}

.deleteType{
    display: block;
}

.btn-row.right-side{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.button, .button.is-link{
    background-color: #fff;
    color: #e295c1;
    border: solid 2px #e295c1;
    transition: all 0.3s ease;
    font-weight: 600;
    margin: 20px 0;
}

.container .button img {
    height: 2em; 
    margin-right: 8px; /* space between image and text */
}

.button:hover, .button.is-link:hover{
    background-color: #e295c1;
    color: #1D6A3E;
    border: solid 2px #e295c1;
}

.register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.content ul{
    list-style-type: none;
}
.content h3{
    background-color: #e295c1;
    border-radius: 4px;
    text-align: center;
    padding: 4px;
}
.content p{
    font-weight: 500;
    font-size: large;
}
.content .dream-content{
    text-align: center;
    margin: 20px 0;
}

.dream_id span{
    border-radius: 20px;
    padding: 0.25rem;
    /* border: solid 2px #e295c1; */
    background-color: #e295c1;
    color: #fff;
}
.dream-info {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

.columns{
    margin: 4px;
}