*{
    box-sizing: border-box;
    position: relative;
}
html, body{
    font-family: '微軟正黑體', 'arial';
}

header {
    background-color: grey;
    min-height: 60px;
    display: flex;
    justify-content: center;
}

header .nav-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

nav {
    /* display: flex; */
    /* justify-content: space-between; */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    color: #fff;
    font-size: 1.5rem;
    line-height: 60px;
}

nav.nav-left ul li {
    padding: 10px 40px 10px 0;
}

nav.nav-right ul li {
    padding: 10px 0 10px 40px;
}

nav ul li a {
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
}


.main{
    text-align: center;
}

.welcome, .input, .submit{
    text-align: center;
}

.input label{
    display: block;
}

.textInput, .descriptionInput{
    /* border: solid 1px blue; */

    display: block;
    margin: 16px 12px;
}