<header>
    <nav class="navbar is-spaced">
        <div class="navbar-start is-expanded">
            <a class="navbar-item is-size-4" href="/">Home</a>
            <a class="navbar-item is-size-4" href="/add">新增</a>
            <a class="navbar-item is-size-4" href="/search">搜尋</a>
            <a class="navbar-item is-size-4" href="/edit">編輯</a>
            <a class="navbar-item is-size-4" href="/delete">刪除</a>
        </div>
        
        <div class="navbar-end is-expanded">
            <div class="navbar-item">
                {{#if areLogin}}
                    <a class="navbar-item is-size-4 button is-light" href="/logout">登出</a>
                {{else}}
                    <a class="navbar-item is-size-4 button" href="/login">登入</a>
                {{/if}}
            </div>
        </div>
    </nav>
</header>
