<header>
    <div class="nac-container">
        <nav class="nav-left">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/add">新增</a>
                </li>
                <li>
                    <a href="/search">搜尋</a>
                </li>
                <li>
                    <a href="/edit">編輯</a>
                </li>
                <li>
                    <a href="/delete">刪除</a>
                </li>
                <li>
                    {{#if areLogin}}
                        <a href="/logout">登出</a>
                    {{else}}
                        <a href="/login">登入</a>   
                    {{/if}}
                </li>
            </ul>
        </nav>
    </div>
</header>